body{
    background: #e1dddd;
   height: 100vh;

}
.nav-bar{
    background-color: white;
}

.search-form{
width: 50%;
}

#sidebar{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    z-index:9999;
    box-shadow:-1px 0 0 rgb(248,249,250,0.1);
    background: rgb(248,249,250);

}
#sidebar .nav-item{
    text-align: center;
    padding: 25px 0 ;
}


#sidebar .nav-item a{
    color:rgba(0,0,0,.2);
}

#sidebar .nav-item a.active{

    color:#0d6efd;

}
.vertical-nav{
    margin-top:20vh;
}
.logo{
    max-height: 30px;
    margin:15px 15px;
}

a.navbar-brand{
    text-align: center;
    display: block;
    width: 100%;
}

section{
    margin:10px;
}

.main{
    padding: 3rem;
    padding-top: calc(4rem+74px);
}
.main .first-row, .main .second-row{
padding-bottom: 3rem;
}

.main .row .card{
    height: 100%;
} 

.card{
    max-height: 100%;
    border:0;
    box-shadow: 2px 0 10px rgba(0,0,0,.1);
}

.card-header{
    font-weight: 700;
    background: white;
    padding: 20px;
}
.card-body{
    padding: 0.5rem;
    font-size: 12px;
}